@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent; }

/* -- 首頁字體變數-----------------------*/
html {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: #4c4948; }

h1 {
  font-size: 2.5rem;
  color: #8A5B41; }

h2 {
  font-size: 2.25rem;
  color: #8A5B41; }

h3 {
  font-size: 2rem;
  color: #8A5B41; }

h4 {
  font-size: 1.75rem;
  color: #8A5B41; }

h5 {
  font-size: 1.25rem; }

/* 共用的header */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999; }
  header .header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 85px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }
    header .header__container .logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      header .header__container .logo a img {
        width: 250px; }
    header .header__container .navList {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center; }

.navList .navItem {
  text-decoration: none;
  padding: 6px;
  margin: 8px;
  color: #8a5b41;
  font-size: 1.4rem;
  transition: transform .2s .1s, color .2s .1s; }

.navList_2 {
  width: 13%;
  min-width: 206px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .navList_2 #memNickname {
    max-width: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #a6c165;
    font-size: 1.5rem; }

.navList_2 .navItem_2 {
  text-decoration: none;
  padding: 8px;
  margin: 8px 0px;
  color: #8a5b41;
  font-size: 1.5rem;
  transition: transform .2s .1s, color .2s .1s;
  cursor: pointer; }

.navItem:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #e08c34;
  top: 90%;
  left: 20px;
  transition: width .3s; }

.navItem:hover:after {
  width: 70px;
  transition: width .3s .1s; }

.navItem:hover,
.navItem_2:hover {
  transform: translateY(-5px) scale(1.05);
  color: #a6c165;
  transition: transform .2s; }

.navItem:hover > .fa-seedling,
.navItem:hover > .fa-apple-alt,
.navItem:hover > .fa-gift,
.navItem:hover > .fa-lemon,
.navItem:hover > .fa-carrot,
.navItem:hover > .fa-leaf {
  animation: ss .2s linear infinite alternate; }

@keyframes ss {
  0% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(10deg); } }

.navList .focus {
  color: #a6c165; }

span.logo {
  transition: all .5s; }

span.logo:hover {
  transform: scale(1.1); }

#spanLogin:hover {
  color: #a6c165; }

/* rwd */
header {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0; }

header .rwdHeader {
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999; }

header .rwdHeader .rwdHeaderWrap {
  width: 100%;
  height: 100%;
  /* position: relative; */ }

header .rwdHeader .rwdHeaderWrap #topLogo2 {
  width: 220px;
  margin: 0px; }

header #topLogo2 {
  transition: all .5s; }

header #topLogo2:hover {
  transform: scale(1.1); }

header .rwdHeader .rwdHeaderWrap .hamburger {
  width: 80px;
  height: 80px;
  color: #8a5b41;
  float: right; }

header #rwdHamburgerMenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: left 0.3s ease-in-out;
  z-index: 998; }

header #rwdHamburgerMenu ul {
  margin: 100px auto;
  width: 300px; }
  header #rwdHamburgerMenu ul a:first-child li {
    color: #a6c165; }

header #rwdHamburgerMenu ul li {
  text-align: center;
  width: 200px;
  margin: 25px auto;
  font-size: 1.4rem;
  color: #8a5b41;
  transition: all .5s;
  cursor: pointer; }

header #rwdHamburgerMenu ul li:hover {
  transform: translateX(-5px) scale(1.05);
  color: #a6c165;
  transition: transform .2s; }

header #rwdHamburgerMenu ul li:hover > .fa-seedling,
header #rwdHamburgerMenu ul li:hover > .fa-apple-alt,
header #rwdHamburgerMenu ul li:hover > .fa-gift,
header #rwdHamburgerMenu ul li:hover > .fa-lemon,
header #rwdHamburgerMenu ul li:hover > .fa-carrot,
header #rwdHamburgerMenu ul li:hover > .fa-leaf,
header #rwdHamburgerMenu ul li:hover > .fa-user-circle,
header #rwdHamburgerMenu ul li:hover > .fa-shopping-cart {
  animation: ss .2s linear infinite alternate; }

button.hamburger {
  outline: none; }

a {
  text-decoration: none;
  cursor: pointer; }

@media all and (max-width: 1024px) {
  header {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0; }
  header .header__container .navList {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navList .navItem {
    text-decoration: none;
    padding: 8px;
    margin: 8px;
    color: #8a5b41;
    font-size: 1.4rem;
    transition: transform .2s .1s, color .2s .1s; }
  .navList_2 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navList_2 .navItem_2 {
    text-decoration: none;
    padding: 8px;
    margin: 8px 0px;
    color: #8a5b41;
    font-size: 1.5rem;
    transition: transform .2s .1s, color .2s .1s; }
  .navItem:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 3px solid #e08c34;
    top: 90%;
    left: 20px;
    transition: width .3s; }
  .navItem:hover:after {
    width: 70px;
    transition: width .3s .1s; }
  .navItem:hover,
  .navItem_2:hover {
    transform: translateY(-5px) scale(1.05);
    color: #a6c165;
    transition: transform .2s; }
  .navItem:hover > .fa-seedling,
  .navItem:hover > .fa-apple-alt,
  .navItem:hover > .fa-gift,
  .navItem:hover > .fa-lemon,
  .navItem:hover > .fa-carrot,
  .navItem:hover > .fa-leaf {
    animation: ss .2s linear infinite alternate; }
  @keyframes ss {
    0% {
      transform: rotate(-10deg); }
    100% {
      transform: rotate(10deg); } }
  .navList .focus {
    color: #a6c165; }
  span.logo {
    transition: all .5s; }
  span.logo:hover {
    transform: scale(1.1); }
  /* rwd */
  header .rwdHeader {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999; }
  header .rwdHeader .rwdHeaderWrap {
    width: 100%;
    height: 100%;
    /* position: relative; */ }
  header .rwdHeader .rwdHeaderWrap #topLogo2 {
    width: 220px;
    margin: 0px; }
  header #topLogo2 {
    transition: all .5s; }
  header #topLogo2:hover {
    transform: scale(1.1); }
  header .rwdHeader .rwdHeaderWrap .hamburger {
    width: 80px;
    height: 80px;
    color: #8a5b41;
    float: right; }
  header #rwdHamburgerMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 100%;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.95);
    transition: left 0.3s ease-in-out;
    z-index: 998; }
  header #rwdHamburgerMenu ul {
    margin: 100px auto;
    width: 300px;
    display: contents; }
  header #rwdHamburgerMenu ul li {
    text-align: center;
    width: 200px;
    margin: 25px auto;
    font-size: 1.4rem;
    color: #8a5b41;
    transition: all .5s; }
  header #rwdHamburgerMenu ul li:hover {
    transform: translateX(-5px) scale(1.05);
    color: #a6c165;
    transition: transform .2s; }
  header #rwdHamburgerMenu ul li:hover > .fa-seedling,
  header #rwdHamburgerMenu ul li:hover > .fa-apple-alt,
  header #rwdHamburgerMenu ul li:hover > .fa-gift,
  header #rwdHamburgerMenu ul li:hover > .fa-lemon,
  header #rwdHamburgerMenu ul li:hover > .fa-carrot,
  header #rwdHamburgerMenu ul li:hover > .fa-leaf,
  header #rwdHamburgerMenu ul li:hover > .fa-user-circle,
  header #rwdHamburgerMenu ul li:hover > .fa-shopping-cart {
    animation: ss .2s linear infinite alternate; }
  button.hamburger {
    outline: none; }
  a {
    cursor: pointer;
    text-decoration: none; } }

@media all and (max-width: 1024px) and (max-width: 1024px) {
  .rwdHeaderWrap {
    position: sticky;
    top: 0; }
  header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0; }
  header .header__container {
    display: none; }
  header .rwdHeader {
    display: block; } }

@media all and (max-width: 1024px) {
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #8a5b41; }
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #8a5b41;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }
  /* Elastic */
  .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease; }
    .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s; }
    .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      opacity: 0; }
    .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; } }

@media all and (max-width: 1200px) {
  .navList .navItem {
    text-decoration: none;
    padding: 0;
    margin: 8px;
    color: #8a5b41;
    font-size: 1.4rem;
    transition: transform .2s .1s, color .2s .1s; }
  .navList_2 {
    width: 20%;
    min-width: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .navList_2 #memNickname {
      max-width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #a6c165;
      font-size: 1.5rem; } }

span#a_count {
  font-size: 16px;
  font-weight: bolder;
  color: red; }

span#b_count {
  font-size: 16px;
  font-weight: bolder;
  color: red; }

footer {
  height: 80vh;
  background-image: url("../../../images/footer/bgc3.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff; }

.footer_content {
  padding: 40px; }
  .footer_content strong {
    line-height: 1.5; }

.tab_wrap {
  border: 1px solid #de8c3e;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50%;
  margin: 0 auto;
  overflow: hidden; }

ul, li {
  margin-top: 0;
  padding: 0;
  list-style: none; }

ul.tabs {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #de8c3e;
  background-color: #de8c3e; }

ul.tabs li {
  float: left;
  height: 100%;
  line-height: 40px;
  overflow: hidden;
  position: relative; }

ul.tabs li a {
  display: block;
  padding: 0 20px;
  color: #fff;
  text-decoration: none; }

ul.tabs li a:hover {
  background: #fa0; }

ul.tabs li.active {
  background: #fa0;
  /* border-bottom: 1px solid#fff; */ }

ul.tabs li.active a:hover {
  background: #fa0; }

div.tab_container {
  width: 100%;
  border-top: none;
  background: #fff; }

/* -------------------以下各分頁可自行設定------------------------- */
div.tab_container .tab_content {
  padding: 20px; }

div.tab_container .tab_content h2 {
  margin: 0 0 20px; }

#box-body {
  background-image: url("../../../images/box/box-bg.jpg");
  background-size: cover; }
  #box-body .popup {
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px; }
    #box-body .popup > div {
      max-width: 1000px;
      width: 70%;
      position: fixed;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 53%;
      background: #FFFFFF;
      padding: 30px;
      z-index: 5001;
      border: 5px solid #9AD3DE;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4); }
      #box-body .popup > div button {
        margin-top: 20px;
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px 0px;
        border-width: 0;
        border-radius: 10px;
        font-size: 1.25rem;
        font-family: "Noto Sans TC", sans-serif;
        min-width: 100px;
        width: 120px;
        color: #141414;
        background-color: #A8A8A8;
        box-shadow: 2px 2px 5px rgba(168, 168, 168, 0.5);
        transition: all 0.2s linear 0s; }
        #box-body .popup > div button:before {
          content: "\f054";
          font-family: FontAwesome;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0px;
          height: 100%;
          width: 20px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 0 50% 50% 0;
          transform: scale(0, 1);
          transform-origin: left center;
          transition: all 0.2s linear 0s; }
        #box-body .popup > div button:hover {
          text-indent: 30px; }
          #box-body .popup > div button:hover:before {
            transform: scale(1, 1);
            text-indent: 0; }
    #box-body .popup h3 {
      border: none;
      width: 100%;
      margin: 0px; }
    #box-body .popup .step_wrap {
      max-width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap; }
      #box-body .popup .step_wrap .step {
        display: flex;
        width: 150px;
        flex-direction: column;
        align-items: center;
        margin: 0px 5px 0px 5px; }
        #box-body .popup .step_wrap .step .circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #1F7962;
          text-align: center;
          line-height: 2;
          color: white;
          margin-bottom: 10px; }
        #box-body .popup .step_wrap .step p {
          line-height: 1.5; }
  #box-body h2 {
    width: 300px;
    text-align: center;
    letter-spacing: .1rem;
    padding: 10px;
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-color: #af7342;
    border-radius: 10px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    margin: 50px auto;
    text-align: center; }
    #box-body h2 img.leafLeft {
      position: absolute;
      top: -25px;
      left: -25px;
      width: 16%; }
    #box-body h2 img.leafRight {
      position: absolute;
      top: -15px;
      right: -20px;
      width: 12%;
      transform: rotate(65deg); }
  #box-body .box_contain {
    width: 100%; }
    #box-body .box_contain .outer {
      position: relative;
      width: 80%;
      background-color: #fff;
      background-image: url("../../../images/box/box_bg_material.jpg");
      border: 3px dashed #a6c165;
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 80px 0px 50px 0px; }
      #box-body .box_contain .outer h4 {
        width: 100%;
        text-align: center;
        margin-bottom: 0px; }
      #box-body .box_contain .outer .bow-knot-left {
        width: 200px;
        position: absolute;
        left: -25px;
        top: 20px;
        transform: rotate(-35deg); }
        #box-body .box_contain .outer .bow-knot-left img {
          width: 100%; }
      #box-body .box_contain .outer .bow-knot-right {
        width: 200px;
        position: absolute;
        right: -25px;
        top: 20px;
        transform: rotate(35deg); }
        #box-body .box_contain .outer .bow-knot-right img {
          width: 100%; }
      #box-body .box_contain .outer .button-wrap {
        height: auto;
        font-size: 0;
        text-align: center;
        display: flex;
        flex-direction: column; }
        #box-body .box_contain .outer .button-wrap label {
          margin: 5px;
          display: block;
          box-sizing: border-box;
          text-decoration: none;
          text-align: center;
          overflow: hidden;
          cursor: pointer;
          outline: none;
          position: relative;
          padding: 10px 0px;
          border-width: 0;
          border-radius: 10px;
          font-size: 1.25rem;
          font-family: "Noto Sans TC", sans-serif;
          min-width: 100px;
          width: 100px;
          color: #ffffff;
          background-color: #D35D3D;
          box-shadow: 2px 2px 5px rgba(211, 93, 61, 0.5);
          transition: all 0.2s linear 0s; }
          #box-body .box_contain .outer .button-wrap label:before {
            content: "\f054";
            font-family: FontAwesome;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 20px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 0 50% 50% 0;
            transform: scale(0, 1);
            transform-origin: left center;
            transition: all 0.2s linear 0s; }
          #box-body .box_contain .outer .button-wrap label:hover {
            text-indent: 30px; }
            #box-body .box_contain .outer .button-wrap label:hover:before {
              transform: scale(1, 1);
              text-indent: 0; }
          #box-body .box_contain .outer .button-wrap label:hover {
            background-color: #f85f35; }
        #box-body .box_contain .outer .button-wrap .for-zoom-cube.zoom {
          background-color: #f85f35; }
      #box-body .box_contain .outer .box {
        width: 400px; }
        #box-body .box_contain .outer .box .cube-wrap {
          height: 50%;
          -webkit-transition: .6s;
          transition: .6s;
          -webkit-perspective: 1000;
          perspective: 1000;
          -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
          -webkit-transform: scale(1.3);
          transform: scale(1.3); }
          #box-body .box_contain .outer .box .cube-wrap .cube {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 300px;
            height: 100px;
            margin: auto;
            -webkit-transition: .8s;
            transition: .8s;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform-origin: 50% 50% -75px;
            transform-origin: 50% 50% -75px;
            -webkit-backface-visibility: visible;
            backface-visibility: visible; }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face {
              position: relative;
              background-color: white;
              outline: 1px solid rgba(0, 0, 0, 0.1);
              outline-offset: -1px;
              overflow: hidden; }
              #box-body .box_contain .outer .box .cube-wrap .cube .cube-face img.select {
                border: 3px dashed #D35D3D; }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-top {
              position: absolute;
              width: 300px;
              height: 150px;
              top: -150px;
              left: 0;
              -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
              -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%; }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-top:after,
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-bottom:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.1); }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-left {
              position: absolute;
              top: 0;
              width: 150px;
              height: 100px;
              left: -150px;
              -webkit-transform: rotateY(-90deg);
              transform: rotateY(-90deg);
              -webkit-transform-origin: 100% 0;
              transform-origin: 100% 0; }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-left:after,
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-right:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.2); }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-front {
              position: absolute;
              top: 0;
              left: 0;
              width: 300px;
              height: 100px; }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-back {
              position: absolute;
              top: 0;
              left: 0;
              width: 300px;
              height: 100px;
              -webkit-transform: translateZ(-150px) rotateY(180deg);
              transform: translateZ(-150px) rotateY(180deg); }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-right {
              position: absolute;
              top: 0;
              width: 150px;
              height: 100px;
              right: -150px;
              -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
              -webkit-transform-origin: 0 0;
              transform-origin: 0 0; }
            #box-body .box_contain .outer .box .cube-wrap .cube .cube-face-bottom {
              position: absolute;
              top: 100px;
              width: 300px;
              height: 150px;
              -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
              -webkit-transform-origin: 0 0;
              transform-origin: 0 0; }
        #box-body .box_contain .outer .box .cube-wrap.zoom {
          transform: scale(1.6); }
        #box-body .box_contain .outer .box #zoom-cube:checked ~ .cube-wrap {
          -webkit-transform: scale(1.6);
          transform: scale(1.6); }
        #box-body .box_contain .outer .box input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
        #box-body .box_contain .outer .box #show-front:checked ~ .button-wrap .for-front,
        #box-body .box_contain .outer .box #show-back:checked ~ .button-wrap .for-back,
        #box-body .box_contain .outer .box #show-left:checked ~ .button-wrap .for-left,
        #box-body .box_contain .outer .box #show-right:checked ~ .button-wrap .for-right,
        #box-body .box_contain .outer .box #show-top:checked ~ .button-wrap .for-top,
        #box-body .box_contain .outer .box #show-bottom:checked ~ .button-wrap .for-bottom,
        #box-body .box_contain .outer .box #zoom-cube:checked ~ .button-wrap .for-zoom-cube {
          background-color: #f85f35; }
      #box-body .box_contain .outer .tab_wrap {
        width: 300px;
        margin: 0; }
        #box-body .box_contain .outer .tab_wrap .tab_container #tab1 #picker .IroColorPicker .IroWheel, #box-body .box_contain .outer .tab_wrap .tab_container #tab1 #picker .IroColorPicker .IroSlider {
          margin: 0 auto; }
        #box-body .box_contain .outer .tab_wrap .tab_container #tab2 .item-wrap {
          display: flex;
          justify-content: center;
          flex-wrap: wrap; }
          #box-body .box_contain .outer .tab_wrap .tab_container #tab2 .item-wrap .item {
            width: 60px;
            height: 60px;
            margin: 5px;
            cursor: pointer; }
            #box-body .box_contain .outer .tab_wrap .tab_container #tab2 .item-wrap .item img {
              width: 100%; }
        #box-body .box_contain .outer .tab_wrap .tab_container #tab2 form {
          margin-top: 10px;
          display: flex;
          align-items: center; }
          #box-body .box_contain .outer .tab_wrap .tab_container #tab2 form label {
            margin-right: 5%; }
          #box-body .box_contain .outer .tab_wrap .tab_container #tab2 form input {
            width: 60%; }
        #box-body .box_contain .outer .tab_wrap .tab_container #tab2 .btn_wrap {
          display: flex;
          justify-content: space-between;
          margin-top: 10px; }
          #box-body .box_contain .outer .tab_wrap .tab_container #tab2 .btn_wrap img {
            width: 35px;
            cursor: pointer; }
        #box-body .box_contain .outer .tab_wrap .tab_container #tab3 input {
          margin-left: 50%;
          transform: translateX(-50%); }
    #box-body .box_contain .addCartBtn {
      box-sizing: border-box;
      text-decoration: none;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      outline: none;
      position: relative;
      padding: 10px 0px;
      border-width: 0;
      border-radius: 10px;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.25rem;
      min-width: 100px;
      width: 150px;
      color: #ffffff;
      background-color: #1F7962;
      box-shadow: 2px 2px 5px rgba(31, 121, 98, 0.5);
      transition: all 0.2s linear 0s;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 50px; }
      #box-body .box_contain .addCartBtn:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.2s linear 0s; }
      #box-body .box_contain .addCartBtn:hover {
        text-indent: 30px; }
        #box-body .box_contain .addCartBtn:hover:before {
          transform: scale(1, 1);
          text-indent: 0; }

@media all and (max-width: 768px) {
  #box-body .popup .step_wrap .step {
    margin-bottom: 10px; }
  #box-body .box_contain .outer .button-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #box-body .box_contain .outer .button-wrap label {
      margin: 10px 20px 10px 20px; }
  #box-body .box_contain .outer .box {
    margin-top: 200px; }
  #box-body .box_contain .outer .tab_wrap {
    margin-top: 200px; }
  #box-body .box_contain .outer .step_wrap {
    flex-wrap: wrap; }
    #box-body .box_contain .outer .step_wrap .step {
      width: 150px; } }

@media all and (max-width: 414px) {
  #box-body .box_contain {
    overflow-x: hidden; }
    #box-body .box_contain .outer {
      padding: 80px 30px 50px 30px; }
      #box-body .box_contain .outer .step_wrap .step {
        width: 120px;
        margin: 10px 0px 10px 0px; } }

@media all and (max-width: 414px) {
  #box-body h2 {
    margin: 50px auto 50px auto; }
  #box-body .popup .step_wrap .step {
    flex-direction: row;
    width: 100%;
    justify-content: center; }
    #box-body .popup .step_wrap .step .circle {
      margin-right: 20px; }
    #box-body .popup .step_wrap .step p {
      width: 180px;
      text-align: left; }
  #box-body .box_contain .outer {
    margin-top: 0px; }
    #box-body .box_contain .outer .bow-knot-left, #box-body .box_contain .outer .bow-knot-right {
      width: 150px; } }
