@media all and (max-width: 1200px) {
  table {
    box-sizing: border-box;
    width: 992px;
    padding: 15px;
    position: relative;
    left: 50%;
    margin-left: -500px; } }

@media all and (max-width: 992px) {
  table {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    left: 0%;
    margin-left: 0px; } }

@media all and (max-width: 768px) {
  table tr {
    width: 100%; }
  table td {
    width: 160px; }
    table td h3 {
      line-height: 1.3; }
    table td img {
      width: 90%; }
    table td .icon {
      display: none; } }

@media all and (max-width: 680px) {
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.25rem; } }

@media all and (max-width: 576px) {
  .shopping_wrapper {
    width: 480px;
    padding: 5px;
    position: relative;
    left: 50%;
    margin-left: -240px; }
    .shopping_wrapper .item_img {
      width: 100%;
      padding: 10px 5px;
      background-color: white;
      border-radius: 4px; }
    .shopping_wrapper .item_text {
      width: 70%;
      margin-left: 15%;
      padding-left: 0px; }
      .shopping_wrapper .item_text h2 {
        margin-left: 0px; }
  h3 {
    font-size: 1.25rem; }
  h4 {
    font-size: 1.0rem; }
  .grey_btn {
    padding: 10px 0px;
    border-width: 0;
    border-radius: 10px;
    font-size: 1.0rem;
    width: 40px;
    min-width: 40px; } }

@media all and (max-width: 480px) {
  div.box_for_shopping_title {
    width: 200px;
    position: relative;
    left: 50%;
    margin-top: 60px;
    margin-left: -100px;
    padding: 15px 10px 0px 10px;
    border-radius: 24px 24px 0px 0px; }
  .shopping_wrapper {
    width: 376px;
    position: relative;
    left: 50%;
    margin-left: -188px; }
  .quantity {
    font-size: 1.5rem;
    margin: 5px; }
    .quantity h4 {
      margin: 0px; }
  #howmany {
    width: 30px;
    background-color: white;
    border: 1px solid #CCCBCF;
    margin: 0px;
    padding: 4px; }
  button.count {
    width: 30px;
    background-color: #CCCBCF;
    padding: 2px 4px; }
  table.previous_and_next h4 {
    font-size: 1.0rem; } }

@media all and (max-width: 376px) {
  .shopping_wrapper {
    width: 320px;
    position: relative;
    left: 50%;
    margin-left: -160px; }
  .quantity {
    font-size: 1.3rem;
    margin: 0px; }
    .quantity h4 {
      font-size: 1.3rem;
      margin: 0px; } }
